.body_detail{
    text-align: -webkit-center;
}
.rectangule{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    padding: 2rem;
    width: 80%;
    border-radius: 20px;
}
.img_content{
    width: 40%;
    margin: 1rem;
}
.img {
    width: 100%;
    border-radius: 10%;
}
.text{
color: aliceblue;
}
.stars_content{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.star-noselect{
    color: gray;
    cursor: pointer;
}
.star_select{
    color: yellow;
    cursor: pointer;
}
.body_imgs_recomend{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.imgs_recomend{
    height: 14rem;
    max-width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1px;
}
.imgs_recomend img{
    object-fit: scale-down;
    display: flex;
    align-items: center;
    /* width: fit-content; */
    max-width: 90%;
    background-color: white;
    max-height: 90%;
    width: 10rem;
    height: 10rem;
    border: solid 4px black;
    border-radius: 10px;
}
.Body_Medios_Pago{
    margin-top: 1rem;
    color: navy;
    background-color: aliceblue;
    padding: 2rem;
    width: 80%;
    min-height: 10rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}
.targetas_conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
}
.medios_de_pago{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /*  gap: 10rem; */
    color: green;
    min-width: 90%;
    max-width: 100%;

}

.imgs_recomend_container {
    width: min(250px,450px);
    height: min(301pxpx,350px);
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background: white;
    border-radius: 50px;
    color: steelblue; 
    margin-top: 7rem;
 }
  .motion_detail{
    transform: none;
    transform-origin: 50% 50% 0px;
    position: absolute;
    top: 100%;
    background-color: #00000094;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .motion_detail button:not(:disabled) {
    cursor: pointer;
    width: 2rem;
    height: 1rem;
}
