.body_detail{
    text-align: -webkit-center;
}
.rectangule{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
    padding: 2rem;
    width: 80%;
    border-radius: 20px;
}
.img_content{
    width: 30%;
}
.img {
    width: 100%;
}
.text{
color: aliceblue;
}
.stars_content{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.star-noselect{
    color: gray;
    cursor: pointer;
}
.star_select{
    color: yellow;
    cursor: pointer;
}
