.profile_container{
    width: 100%;
    display: flex;
    background-color: aquamarine;
    height: 100vh;
}
.article_profile{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.main_in_profile{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;text-align: center;
    border-left: 1px solid;

}
.img_profile{
    width: 11rem;
    border-radius: 50%;
    margin: 0 auto;
}