.profile_container{
    width: 100%;
    display: flex;
    background-color: aquamarine;
    height: 100vh;
}
.article_profile{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}
.main_in_profile{
    display: flex;
    justify-content: start;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid;
    padding: 0 1rem;

}
.img_profile{
    width: 11rem;
    border-radius: 50%;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: start;
    gap: 1rem;
    padding: 0 1rem;
}
form label{
    display: flex;
    flex-direction: column-reverse;
}
form label input {
    text-align: center;
}
button{
    border-radius: 20px;
    border: 1px solid;
    padding: 0 1rem;
    place-self: center;
    width: 90%;
}
button:hover{
    background-color: lightgreen;
}
.modal-container{
    position: absolute;
    color: wheat;
    background-color: #00000094;
    margin: auto;
    border-radius: 20px;
    width: -webkit-fill-available;
    padding: 1rem;
}
.modal_form{
    width: 50%;
    margin: auto;
    padding: 1rem;
}
.btn_modal_close{
    max-width: 40%;
}
.btn_modal_close:hover{
    background-color: #f44336;
}
