.cart-card{
    position: absolute;
    left: 4%;
    top: 3%;
    font-size: 1.3rem;
    color: black;
    z-index: 4;
/*     filter: drop-shadow(4px 3px 3px white); */
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}
.img-cards-products{
    object-fit: scale-down;
    display: flex;
    align-items: center;
    max-width: 90%;
    max-height: 11rem;
    width: 10rem;
    height: 11rem;
    z-index: 2;
}
.img-cards-products:hover{
    cursor: pointer;    
    }

.container-col-card{
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 99%;
}
.container-col-card div .col{
    min-width: 14rem;
}
.body-card-product{
  
    max-height: 20rem;
    min-height: 20rem;
    min-width: 14rem;
    max-width: 14rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-right: 1px;
    
    
}
.btns-products{
    position: absolute;
    bottom: 2%;
    left: 36%;
    width: 30%;
}
.body-card-product h5{
    font-size: 18px;
}
.body_card_detail{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.body_card_detail.card-body {
    padding: 0;
    --bs-card-title-spacer-y: -2rem;
    padding: 0 1rem;
}

.title_ofertas{
    background-image: linear-gradient(to right , #ff2e00 , #3bd9d9);
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
p.precio-discount {
    font-weight: 900;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
p.precio-discount .precio{
    font-weight: thin;
    text-decoration: line-through;
    color:#b20600;
    margin-left: 6px;
    font-size: 0.7rem;
    position: absolute;
}
p.sale-off {
    position: absolute;
    top: -2px;
    right: -2px;
    height: 34px;
    background: #b20600;
    color: white;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(10% 1%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 20px;
    z-index: 3;
}
.agregar {
  
        width: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        border: none;
        background-color:#1B1717;
        color: white;
        padding: 5px;
        font-size: 16px;
        font-family: auto;
        letter-spacing: 1px;
        border-radius: 6px;
        box-shadow: 1px 4px 12px -4px rgb(0 0 0);
        cursor: pointer;
    }
    .agregar svg {
        font-size: 17px;
    }