.cart-card{
    position: absolute;
    right: 4%;
    top: 3%;
    font-size: 1.3rem;
    color: black;
/*     filter: drop-shadow(4px 3px 3px white); */
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}
.img-cards-products{
    /* min-height: 15rem; */
    max-height: 14rem;
    object-fit: contain;
    cursor: pointer;
}
.container-col-card{
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.body-card-product{
    width: 18rem;
    max-height: 23rem;
    min-height: 23rem;
    font-size:13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.btns-products{
    position: absolute;
    bottom: 2%;
    left: 36%;
    width: 30%;
}
.body-card-product h5{
    font-size: 18px;
}