.cart-card{
    position: absolute;
    right: 4%;
    top: 3%;
    font-size: 1.3rem;
    color: black;
/*     filter: drop-shadow(4px 3px 3px white); */
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}
.img-cards-products{
    object-fit: scale-down;
    display: flex;
    align-items: center;
    max-width: 90%;
    max-height: 11rem;
    width: 10rem;
    height: 11rem;
    cursor: pointer
}
.container-col-card{
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 99%;
}
.body-card-product{
    max-height: 23rem;
    min-height: 23rem;
    max-width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1px;
    
}
.btns-products{
    position: absolute;
    bottom: 2%;
    left: 36%;
    width: 30%;
}
.body-card-product h5{
    font-size: 18px;
}
.body_card_detail{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}