nav.nav_open{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
  }
  nav.nav_close{
    animation: close 3s ease-in-out linear;
    animation-fill-mode: forwards;
    display: none;
 }
 @keyframes close {
     0%{display: block; opacity: 1;}
     80%{opacity:0;}
     100%{display:none}
 }
  
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #212529;
    border-left: 5px solid #90ee90bd;
  }
  
  header button.btn_burguer {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: sticky;
    top: 18px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;

  }
  header button.btn_burguer svg {
    position: relative;
    left: 1px;
    top: 2px;
  }
  
  .icon-placeholder {
    width: 20px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
ul,
li {
  margin: 0;
  padding: 0;
}
.container_ul_categori{
opacity: 1;
display: flex;
place-content: space-evenly;
justify-content: space-around;
align-self: center;}

ul.list_categori,
ul.list_burger_categori{
    width: 130px;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    background-color: slategray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(40px);
    background-color: rgba(30, 30, 30, 0.9);
    padding: 10px 0;
}
.close_ul{
    display: none;
}
ul {
    position: absolute;
    top: 66px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: flex-end;
    z-index: 1;
}
ul.list_burger_categori{
    position: fixed;
    top: 2rem;
    opacity: 1;
    z-index: 4;
}
ul.list_burger_categori li {
    z-index: 4;
}
li {
    list-style: none;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
li:hover{
    color: #ffb347;
    scale: 1.1;
}
ul.list_burger_categori li.categoriOn {
    z-index: 4;
}
.search_burger_menu {
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: flex-start;
    gap: 1rem;
}

.search_burger_menu input{
    appearance: none;
    background: none;
    outline: none;
    /* border: none; */
    display: none;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 999px;
    background-color: #EEE;
    transition: 0.4s;
    margin: 1rem;
    
}

@media (max-width: 598px) {

    .search_burger_menu input{
        display: block;
    }
}