nav.nav_open{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
  }
  nav.nav_close{
    animation: close 3s ease-in-out linear;
    animation-fill-mode: forwards;
    display: none;
 }
 @keyframes close {
     0%{display: block; opacity: 1;}
     80%{opacity:0;}
     100%{display:none}
 }
  
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #212529;
    border-left: 5px solid #90ee90bd;
  }
  
  header button.btn_burguer {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: sticky;
    top: 18px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 2;
    display: grid;
    place-items: center;
    place-content: center;

  }
  header button.btn_burguer svg {
    position: relative;
    left: 1px;
    top: 2px;
  }
  
  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  
  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
    position: absolute;
    top: 66px;
    width: 278px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: flex-end;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search_burger_menu {

    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: flex-start;
    gap: 1rem;
}

.search_burger_menu input{
    appearance: none;
    background: none;
    outline: none;
    /* border: none; */
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 999px;
    background-color: #EEE;
    transition: 0.4s;
    margin: 1rem;

}