.nav_tabsMoon{
color:wheat;
border: solid 1px snow;
border-radius: 10px 10px 0 0;
}
.nav_tabsSun{
    color: black;
    border: solid 1px black;
    border-radius: 10px 10px 0 0;
   /*  background-color: gainsboro;
    width: 17rem;
    border-radius: 10px; */
}
