.bg_footer{
    /* background-color: rgb(0 0 0 / 50%);*/
/*     border-top: 2px solid #6dada2;
 */    }
.footer-general{
    box-shadow: 0px 13px 30px 0px;
    margin-top: 1rem;
    display: flex;
    bottom: 0;
    left: 9%;
    place-items: center;
    justify-content: space-evenly;
    /* padding-bottom: 10px; */
    box-shadow: 2px 2px 20px 0px #212529;
    border: 1px solid #212529;
}
.footer_night{
    background-color: slategray;
    color: black;
    margin-top: 1rem;
  }
.footer-general .navbar-brand{
    /* display: flex;
    justify-content: center;
    align-items: self-end;
    font-size: 12px;
    flex-direction: column; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}
.footer-general .navbar-brand img{
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    border-radius: 50%;
    contain: inline-size;
    cursor: pointer;
    min-inline-size: fit-content;
    }
.footer_Links{
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.navbar-brand img{
    width: 50%;
}
.nav-tabs .nav-link {
    border: 1px solid orange;
    border-radius: 10px 10px 0 0;
    color: #f44336;
}
@media (max-width:765px){
    .bg_footer{
        display: list-item;
        flex-direction: column;
    }
    .footer-general .navbar-brand{
        font-size: medium;
    }
    .footer-general .navbar-brand img{
        width: 4rem;
        height: 4rem;
    }
    .footer_Links{
        font-size: small;
    }
}
