.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.Logo{
  width: 11rem;
  height: 5rem;
  position: absolute;
  left: -17px;
  top: -1rem;
}
.nav-container{
  position: relative;
    left: 10%;
}
.nav-contein-btn{
gap: 7rem;
}
.carousel-inner{
  height: 9rem;
}
img.carrousel{
  max-width:max-content;
  min-inline-size:-webkit-fill-available;
}

